.manage_box{
    margin: 3% 18%;
    padding: 1% 11%;
    background-color: #cf8926;
    border-radius: 17px;
    box-shadow: 4px 4px 13px 3px black;
}

.manage_header{
    text-align: center;
    margin-bottom: 20px;
    color: white;
}

.form-label {
    margin-bottom: .5rem;
    color: white;
    font-size: 17px;
}